/* \/\/\/\/\/\/\/\/\/\/\/\/\/Regole generali\/\/\/\/\/\/\/\/\/\/\/\/\/ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 300%;

}

.container {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.container-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center;

}
/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\Regole generali/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */

/* Inizio primo blocco */
.box-red {
    background-color: #ff0000;
}
.box-red .container-center h1{
    color: #ffff00;
}

.box-red .container-center img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -100px;
}

/* Fine primo blocco */

/* Inizio secondo blocco */

.box-green{
    background-color: #008000;
}

.box-green .container-center img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -100px;
}

.box-green .container-center h1{
    color: #ffff00;
}

/* Fine secondo blocco */

/* Inizio terzo blocco */

.box-yellow{
    background-color: #ffff00;
}

.box-yellow .container-center img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -80px;
    
}

.box-yellow .container-center h1{
    color: #008000;
}

/* Fine terzo blocco */
